<!doctype html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <title>Mars Explorer</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}"
        />
    </head>
    <body>
        <nav>
            <a href="/">Главная</a> | <a href="/register">Регистрация</a> |
            <a href="/add_job">Добавить работу</a> |
            <a href="/add_department">Добавить департамент</a>
        </nav>
        <hr />
        {% block content %}{% endblock %}
    </body>
</html>
